@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
:root {
  --primary-clr: rgb(255, 255, 255);
  --primary-clr-2: rgb(255, 255, 255);
  --primary-clr-3: rgb(255, 255, 255);
}

.theme-1 {
  --primary-clr: rgb(65, 162, 211);
  --primary-clr-2: rgb(37, 114, 192);
  --primary-clr-3: rgb(6, 90, 173);
}

.theme-2 {
  --primary-clr: rgb(136, 83, 236);
  --primary-clr-2: rgb(119, 64, 221);
  --primary-clr-3: rgb(98, 43, 201);
}

.theme-3 {
  --primary-clr: rgb(251, 151, 84);
  --primary-clr-2: rgb(231, 123, 52);
  --primary-clr-3: rgb(216, 101, 25);
}

.theme-4 {
  --primary-clr: rgb(248, 123, 123);
  --primary-clr-2: rgb(221, 90, 90);
  --primary-clr-3: rgb(204, 47, 47);
}

body, .preloader, #play-btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header, .song-timer, .controls, .playlist-item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-clr)), to(var(--primary-clr-2)));
  background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
  color: #181717;
  line-height: 1;
}

.material-icons {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-clr)), to(var(--primary-clr-2)));
  background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
}

.btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  position: relative;
  max-width: 500px;
  width: 90vw;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 2rem;
}

.title {
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
}

.title h3 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.title i {
  font-size: 1.5rem;
}

.image-wrapper {
  height: 20rem;
  margin: 2rem 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.song-description {
  margin: 2rem 0;
  text-align: center;
  text-transform: capitalize;
}

.song-description h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.song-description p {
  font-style: italic;
}

.song-timer {
  margin: 0.5rem 0 2rem 0;
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding: 2rem 1rem;
  }
  .image-wrapper {
    height: 15rem;
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    width: 95vw;
  }
  .image-wrapper {
    height: 12rem;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-clr)), to(var(--primary-clr-2)));
  background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 99;
}

.preloader span {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid white;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 0.5s linear 0s infinite;
          animation: loading 0.5s linear 0s infinite;
}

.preloader.hide {
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.play-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.play-animation span {
  width: 0.25rem;
  height: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-clr)), to(var(--primary-clr-2)));
  background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
  -webkit-animation: unset;
          animation: unset;
}

.play-animation.play span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: playing 0.5s ease-in-out 0s infinite alternate;
          animation: playing 0.5s ease-in-out 0s infinite alternate;
}

.play-animation span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.play-animation span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.play-animation span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.play-animation span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.play-animation span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.play-animation span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.play-animation span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.play-animation span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.play-animation span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes playing {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes playing {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.song-progress-bar {
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #ccc;
  cursor: pointer;
}

.song-progress-bar div {
  position: relative;
  width: 0;
  height: inherit;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-clr)), to(var(--primary-clr-2)));
  background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
}

.song-progress-bar div::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: inherit;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.song-progress-bar:hover div::after {
  opacity: 1;
}

.controls i:nth-child(2) {
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

.controls i:nth-child(4) {
  font-size: 2.5rem;
  margin-right: 1.5rem;
}

#play-btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e9e4e4));
  background: linear-gradient(white 0%, #e9e4e4 100%);
  -webkit-box-shadow: 0 0 5px var(--primary-clr-2);
          box-shadow: 0 0 5px var(--primary-clr-2);
}

#play-btn::after {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-clr)), to(var(--primary-clr-2)));
  background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
}

#play-btn i {
  position: absolute;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  line-height: 2.5rem;
}

@media screen and (max-width: 425px) {
  .controls i:nth-child(2) {
    margin-left: 1rem;
  }
  .controls i:nth-child(4) {
    margin-right: 1rem;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: inherit;
  background-color: inherit;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.playlist-item {
  list-style-type: none;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.playlist-item.playing {
  color: var(--primary-clr-3);
  pointer-events: none;
}

.playlist-item:first-child {
  border-top: 1px solid #ccc;
}

.playlist-item p {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  font-size: 0.95rem;
  font-style: italic;
}

.playlist-item .title i {
  font-size: 1.1rem;
}

@media screen and (max-width: 425px) {
  .sidebar {
    width: 100%;
  }
}
