.song-progress-bar {
    height: 0.5rem;
    border-radius: $radius;
    background-color: $grey;
    cursor: pointer;
    div {
        position: relative;
        width: 0;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
        span {
            position: absolute;
            top: -50%;
            right: -0.5rem;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: inherit;
            opacity: 0;
            transition: $transition;
        }
    }
    &:hover span {
        opacity: 1;
    }
}

.volume-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2rem;
    height: 0;
    border-radius: $radius;
    overflow: hidden;
    background-color: $grey-2;
    box-shadow: $shadow;
    transition: $transition;
    &.show {
        height: 10rem;
    }
    div {
        position: absolute;
        bottom: 0;
        width: inherit;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
    }
}