.controls {
    @extend %flex-between;
    i:nth-child(2) {
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }
    i:nth-child(4) {
        font-size: 2.5rem;
        margin-right: 1.5rem;
    }      
}

#play-btn {
    position: relative;
    width: 3rem;
    height: 3rem;
    @extend %grid-center;
    border-radius: 50%;
    background: linear-gradient($white 0%, $white-2 100%);
    box-shadow: $shadow-2;
    &::after {
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        border-radius: inherit;
        background: linear-gradient($primary-clr 0%, $primary-clr-2 100%);
    }
    i {
        position: absolute;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        line-height: 2.5rem;
    }
}