.controls {
    @extend %flex-between;
    i:nth-child(2) {
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }
    i:nth-child(4) {
        font-size: 2.5rem;
        margin-right: 1.5rem;
    }      
}

#play-btn {
    position: relative;
    width: 3rem;
    height: 3rem;
    @extend %grid-center;
    border-radius: 50%;
    background: linear-gradient($white 0%, $white-2 100%);
    box-shadow: $shadow-2;
    &::after {
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        border-radius: inherit;
        background: linear-gradient(var(--primary-clr) 0%, var(--primary-clr-2) 100%);
    }
    i {
        position: absolute;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        line-height: 2.5rem;
    }
}

#volume-btn {
    position: relative;
}

@media screen and (max-width: 425px) {
    .controls {
        i:nth-child(2) {
            margin-left: 1rem;
        }
        i:nth-child(4) {
            margin-right: 1rem;
        }      
    }   
}