.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    padding: 2rem 1rem;
    border-radius: inherit;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: inherit;
    box-shadow: $shadow;
    transform: translateX(100%);
    transition: $transition;
    &.show {
        transform: translateX(0);
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.playlist-item {
    list-style-type: none;
    padding: 1rem 0;
    border-bottom: 1px solid $grey;
    cursor: pointer;
    &.playing {
        @include background-text(var(--primary-clr), var(--primary-clr-2));
        user-select: none;
        pointer-events: none;
    }
    &:first-child {
        border-top: 1px solid $grey;
    }
    & > div {
        @extend %flex-between;
    }
    p {
        margin-top: 0.5rem;
        padding-left: 1.5rem;
        font-size: 0.95rem;
        font-style: italic;
    }
    .title {
        i {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 425px) {
    .sidebar {
        width: 100%;
    }    
}